@import "tailwindcss";
@plugin "tailwindcss-animate";

/* Root Theme Variables */
:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.98 0 0);

  --border: oklch(0.92 0 0);
  --input: oklch(0.92 0 0);
  --ring: oklch(0.7 0 0);
}

/* Dark Mode */
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.98 0 0);

  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.98 0 0);

  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
}

/* Base Styles */
html,
body {
  height: 100%;
}

body {
  @apply bg-[--background] text-[--foreground];
}

* {
  @apply border-[--border];
}
.leaflet-container {
  height: 100%;
  width: 100%;
}
